@import "../../styles/colors.scss";

#LandingSection {
  min-height: 95vh;

  .landing-content {
    cursor: default;

    .hi-tagline {
      animation: 1s ease-in pulse;
    }

    .name-tagline {
      animation: 1.5s ease-in pulse;
    }

    .personal-summary {
      animation: 9s ease-in-out pulse;
    }

    .work-line {
      animation: 12s ease-in-out pulse;
    }
  }

  .landing-cta-section {
    max-width: 820px;
    z-index: 1;
  }

  .particle-canvas {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    color: darken($secondary, 15%);
    transform: scale(1.025);
  }

  50% {
    color: $secondary;
    transform: scale(1);
  }
}
