@import "../../styles/colors.scss";

#Menu {
  background-color: $primary;

  .navbar-toggler {
    color: $secondary;
    border-color: $secondary;
  }

  .nav-link {
    cursor: pointer;
    color: $secondary;

    &:hover {
      color: $success;
    }
  }
}
