@import '../../styles/colors.scss';

#Menu {
    background-color: transparent;

    .navbar-toggler {
        color: $primary;
        border-color: $primary;
    }

    .nav-link {
        cursor: pointer;
        color: $primary;

        &:hover {
            color: $success;
        }
    }
}
