@import '../../styles/colors.scss';
@import '../../styles/media-queries.scss';

#Menu {
    background-color: transparent;

    .navbar-toggler {
        color: $primary;
        border-color: $primary;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include gt-sm {
            display: none;
        }
    }

    .navbar-dropdown {
        background: $primary;
        opacity: 0.75;
        // max-width: 300px;
        // display: block;

        // fix text disappearing on dark bg
        li {
            // color: $light !important;
            border: 1px solid red;
        }
        @include gt-sm {
            background: transparent;
            color: unset;
        }
    }

    .nav-link {
        cursor: pointer;
        color: $primary;

        &:hover {
            color: $success;
        }
    }
}
