@import url('https://fonts.googleapis.com/css?family=Asap:400,500');

* {
  font-family: Asap, sans-serif;
}

body {
  background-color: #d2d2d2;
}

/* make caorusel controls black */
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-control-next {
    filter: invert(100%);
}
