// ! bootstrap default color overrides

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #020e17;
$secondary: #76d9b9;
$success: #15ab89;
$info: #d8c13a;
$warning: #ff881d;
$danger: #ef4444;
$light: #f9efc1;

#AppContainer {
  // global theming settings
  min-height: 100vh;
  background: $primary;
  color: $light;

  a {
    text-decoration: none;
    color: $light;
  }

  // navbar styles
  #TopMenu {
    background-color: $primary;

    #logo {
      color: $secondary;
    }

    .navbar-toggler {
      color: $secondary;
      border-color: $secondary;
    }

    .nav-link {
      cursor: pointer;
    }
  }

  // landing section styles
  #LandingSection {
    min-height: 90vh;

    .landing-ctas {
      color: $secondary;
      border-color: $secondary;
      &:hover {
        color: $success;
        border-color: $success;
      }
    }
  }

  // footer styles
  #FooterMenu {
    background-color: $primary;
  }
}
