canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#ResumeContainer  {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;

  #Resume {
    margin: 0 auto;
    width: 80%;
  }

  .contact-icon {
    width: 32px;
    height: 32px;
  }
}
