@import "../../styles/colors.scss";

#CanvasContainer {
  height: 2432.38px;
  width: 100vw;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

// make AppContainer see through
// #AppContainer {
//   background: rgba(0,0,0,0) !important;
// }

#ResumeContainer  {
  position: absolute;
  // z-index: -100;
  width: 100%;
  top: 0;
  left: 0;
  // background: rgba(0,0,0,0);
  // background: $primary;

  #Resume {
    // z-index: 0;
    margin: 0 auto;
    width: 75%;
  }

  .contact-icon {
    width: 32px;
    height: 32px;
  }
}
