<% include ../partials/header %>
      <!-- main content div -->
          <!--1) landing area -->
          <div id="landing-area" class="d-flex flex-column vh-100 w-50">
            <div class="container m-auto">
              <h1 style="text-align: center;">Create a New Project!</h1>
              <form action="/projects" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="name" name="titlt">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="image url" name="image">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="link" name="link">
                </div>
                <div class="form-group">
                  <textarea  class="form-control" rows="8" cols="80" placeholder="description" name="text"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
              </form>
              <a href="/projects">Go Back</a>
            </div>
          </div>

<% include ../partials/footer %>
