<% include ../partials/header %>
      <!-- main content div -->
          <!--1) landing area -->
          <div id="landing-area" class="d-flex flex-column vh-100 w-75">
            <img class="d-block w-75 mx-auto" src="<%= project.image %>" alt="<%= project.title %>">
            <h5><%= project.title %></h5>
            <p><%= project.text %></p>
          </div>

<% include ../partials/footer %>
