@import "../../styles/colors.scss";
// footer styles
#Footer {
  background-color: $primary;
  .footer-text {
    cursor: default;
    font-size: 0.75rem;

    .linkedin-link {
      color: $secondary !important;

      &:hover {
        color: $success !important;
      }
    }
  }
}
